@page
@model IndexModel
@{
    ViewData["Title"] = "Avaliação RH-e C";
}
<div class="col-md-12">
    <h1 class="display-4">Lista de materiais</h1>
    <div>
        <div class="container-fluid">
            <div class="row form-group">
                <label for="materialNome">Nome:</label>
                <input type="text" id="materialNome" class="form-control"  onkeyup="preencheTabela(value)"/>
            </div>
            <div class="row">
                <table id="dtMateriais" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th scope="col" class="th-sm">#</th>
                            <th scope="col" class="th-sm">Nome</th>
                            <th scope="col" class="th-sm">Preço</th>
                            <th scope="col" class="th-sm">Marca</th>
                            <th scope="col" class="th-sm">Cód. Marca</th>
                        </tr>
                    </thead>
                    <tbody id="bodyTableMateriais">
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
        // Material Design example

</script>